* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 310px; */
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 10;

}
/* BARRA DE NAVEGACION */
.navbar {
    width: 100%;
    height: 60px;
}

.navbar-brand>img {
    width: 90px;
    height: 100%;
}

.nav .nav-link {
    color: #EFC2C0;
}

.nav .nav-link:hover {
    color: #D90368;
}

.nav-pills .nav-link.active {
    --bs-nav-pills-link-active-bg: #EFC2C0;
    --bs-nav-pills-link-active-color: #D90368;
}

/* SEGUNDO NAV NAVEGACION */
.navegacion {
    width: 100%;
    height: 250px;
    /* background-color: #5BBA6F; */
    background-image: url(../multimedia/Images/Diseño\ sin\ título.png);
    filter: brightness(85%);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 44px;
}

/* EFECTO DE TEXTO  */
.textoDDD {
        color: #f8f8f1;
        text-shadow: 2px 2px 0px rgba(255, 255, 255, 1),
         4px 4px 0px rgb(228, 79, 146);
}

/* EFECTO FIN */

.navegacionHeaderDos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    word-spacing: 60px;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin: 0;

}


.navegacionHeaderDos>a {
    text-decoration: none;
}

a {
    color: white;
    --bs-link-color-rgb: 255, 248, 245;
    --bs-link-hover-color-rgb: 239, 194, 192;
}


.navUpcoming::before {
    position: absolute;
    top: 25px;
    left: -40px;
    display: block;
    box-sizing: border-box;
    content: "¡Upcoming!";
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: transparent;
    height: 0;
    width: 150px;
    border: 25px solid transparent;
    border-bottom: 25px solid #D90368;
    line-height: 23px;
    z-index: 20;
    transform: rotate(-45deg);
}

.navPast::before {
    position: absolute;
    top: 25px;
    left: -40px;
    display: block;
    box-sizing: border-box;
    content: "¡Past!";
    text-transform: uppercase;
     font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: transparent;
    height: 0;
    width: 150px;
    border: 25px solid transparent;
    border-bottom: 25px solid #D90368;
    line-height: 23px;
    z-index: 20;
    transform: rotate(-45deg);
}

/* FILTROS DE CATEGORIA */
.navbar-main {
    width: 98%;
    align-items: center;
    font-size: .9em;

}

/* ESTILOS DE LAS CARTAS */
.grupo {
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 3%;
}

.card {
    width: 300px;
    height: 300px;
    text-align: justify;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn .btn-success{
    --bs-btn-bg: #5bba6fc9;
    --bs-btn-border-color: #5BBA6F;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
}

/* ESTILO DEL FOOTER DE LA PAGINA */
footer {
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.footer-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

.redes {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3%;
    font-size: 1.3em;
    color: #D90368;
}

.favicon {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1em;
}

.favicon>img {
    margin-left: 5px;
    width: 40px;
}
/* ESTILOS DEL FORMULARIO */
.formulario{
    width: 50%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url(../multimedia/Images/fondoform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-check-input {
    --bs-border-color: #5BBA6F;
}

.form-check-input:checked {
    border-color: #5BBA6F !important;
    background-color: #157347 !important;
}

.form-control {
    --bs-border-color: #5BBA6F;
}
.contacto {
    width: 100%;
    height: 100%;
          background-color: rgba(0, 0, 0, 0.671);
    color:white;
 }
form{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 25px;
}


/* ESTILOS DE LA PAGINA DE ESTADISTICAS */
.estadisticas {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.td {
    width: 32%;
}